<p>@if(isServerRunning){
<p>Yes server is running</p>
} @else {
    <p>No the server is off</p>
}
</p>
<p>User's name is {{name}} and he is a {{occupation}}</p>
<section>
    <h3 class="hoverover" (mouseover)="onMouseOver()">for section</h3>
    <ul>
    @for(os of operatingSystems; track os.id) {
        <li (click)="greet()">
            {{os.name}}            
        </li>
    }favoriteFramework
    </ul>
    <button (click)="onClick()">button</button>

    <button (click)="decrementCount()">Decrement</button>
</section>
<section>
    <label for="framework">
    favorite Framework: {{favoriteFramework}}
    <br/>
    <input [(ngModel)]="favoriteFramework" class="mx-3 m-2" type="text" id="framework">
</label>

<button (click)="showFramework()">show Framework</button>
</section>
